.jumbotron {
	/*text-align: center;*/
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	padding-top: 60px;
}
h5 {
	/*margin-bottom: 30px;*/
	text-align: center;
	font-size: 17px;
	text-align: left;
}
table {
	margin-top: 20px;
	font-size: small;
}
a.linkCabecalhoTabela:link {
	text-decoration: underline;
	color: aliceblue;
}
a.linkCabecalhoTabela:hover {
	text-decoration: underline; 
	color: rgb(30, 104, 240);
}
a.linkCabecalhoTabela:active {
	text-decoration: none;
	color: rgb(77, 94, 247);
}
a.linkCabecalhoTabela:visited {
	text-decoration: underline;
	color: bisque;
}
th {
	text-align: center
}
.form-control {
	margin-bottom: 5px;
}
.selecionado {
	background-color: yellow;
}
.negrito {
	font-weight: bold;
}
hr {
	border-color: #999;
}
/* body {
	font-size: 15px;
} */
/* div {
	font-size: 15px;
} */
.texto-corpo-pagina {
	font-size: 15px;
}
.list-group {
	font-size: 15px;
}
.list-group-item {
	font-size: 15px;
}
.card {
	margin-top: 20px;
	font-size: small;
	width: 300px;
}
.blockquote {
	font-size: small;
}
.ribbon {
	position: absolute;
	top: 0px;
	right: 30px;
	width: 20px;
	height: 40px;
	border-style: solid;
	border-width: 0 10px 10px 10px;
	border-color: transparent transparent #EEE transparent;
	cursor: pointer;
	background-color: #EE0000;
}
.ribbon:hover {
	height: 41px;
}