<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>PUCOMEX-Conferência Aduaneira-Testes de Regressão
	Automatizados via Selenium</title>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description"
	content="Testes Automatizados de Frontend para a aplicação COAD">
<meta name="author" content="André Vieira">

<!--css-->
<link rel="stylesheet" type="text/css"
	th:href="@{'lib/bootstrap-4.1.3/css/bootstrap.css'}" />
<link rel="stylesheet" type="text/css" th:href="@{'css/app.css'}">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" th:href="@{'css/slideMenu.css'}">

<!--libs-->
<script th:src="@{'lib/jquery/jquery.js'}"></script>
<script th:src="@{'lib/bootstrap-4.1.3/js/bootstrap.js'}"></script>

<body>

	<Div>
		<div class="container-fluid" style="background-color: #f0f0f0">
			<Div class="linha">
				<Div>
					<font style="font-size: 13px; color: black"> PUCOMEX -
						Conferência Aduaneira - Testes de Regressão Automatizados via
						Selenium para validação do Frontend</font>
				</Div>
			</Div>
		</Div>
	</Div>

	<nav class="navbar sticky-top navbar-expand-lg navbar-dark"
		style="background-color: #000000; height: 83px;">

		<img src="lib/img/logotipoB29.jpg" width="90"
			class="d-inline-block align-top" alt="">
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<!--
				<span class="navbar-toggler-icon"></span>
			 -->
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link"
					href="#anchor-casostestes">Casos de Testes <span
						class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item active"><a class="nav-link"
					href="#anchor-requisitos">Requisitos <span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item active"><a class="nav-link" href="#">Massa
						de Testes <span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item active"><a class="nav-link"
					href="#anchor-execucao">Execução<span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item active"><a class="nav-link"
					href="#anchor-configuracao">Configuração<span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item active"><a class="nav-link"
					href="#anchor-changelog">Changelog<span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item"><a class="nav-link disabled" href="#">Estatísticas</a>
				<li class="nav-item"><a class="nav-link disabled" href="#">Boas
						Práticas</a>
				<li class="nav-item"><a class="nav-link disabled" href="#">Sobre</a>
				</li>
			</ul>
		</div>

	</nav>
	<div class="container-fluid"
		style="background-color: rgb(222, 222, 233); height: 7px;">&nbsp;</div>



	<div class="container-fluid">
		<div class="row">

			<div class="col-md-auto" data-toggle="collapse">
				<div class="card">
					<div class="card-header">
						<b>RELATÓRIO DE TESTES</b>
					</div>
					<div class="card-body">
						<blockquote class="blockquote mb-0">
							<p>
								<i class="fa fa-file-text fa-2x fa-pull-left fa-border"
									style="font-size: 20px; color: black"></i> Link Allure: <a
									href="#" target="_blank">Relatório de testes automatizados</a>.
							</p>
						</blockquote>
					</div>
				</div>
				<div class="card">
					<div class="card-header">
						<b>PORTAL PUCOMEX</b>
					</div>
					<div class="card-body">
						<blockquote class="blockquote mb-0">
							<p>
								<i class="fa fa-ship fa-2x fa-pull-left fa-border"
									style="font-size: 20px; color: black"></i> Links de acesso ao
								portal: <br> <a
									href="https://priv.tsf.dev.pucomex.serpro/portal"
									target="_blank">TSF</a>, <a
									href="https://priv.tes.dev.pucomex.serpro/portal"
									target="_blank">TES</a>, <a
									href="https://priv.tsi.dev.pucomex.serpro/portal"
									target="_blank">TSI</a>, <a
									href="https://priv.rng.dev.pucomex.serpro/portal"
									target="_blank">RNG</a>, <a
									href="https://priv.hom.dev.pucomex.serpro/portal"
									target="_blank">HOM</a>.
							</p>
						</blockquote>
					</div>
				</div>
				<div class="card">
					<div class="card-header">
						<b>DEFEITOS</b>
					</div>
					<div class="card-body">
						<blockquote class="blockquote mb-0">
							<p>
								<i class="fa fa-bug fa-2x fa-pull-left fa-border"
									style="font-size: 20px; color: black"></i> Link para <a
									href="https://alm.serpro" target="_blank">defeitos
									registrados no ALM</a>:
							</p>
						</blockquote>
					</div>
				</div>
				<div class="card">
					<div class="card-header">
						<b>ISSUES NO GIT SERPRO</b>
					</div>
					<div class="card-body">
						<blockquote class="blockquote mb-0">
							<p>
								<i class="fa fa-github fa-2x fa-pull-left fa-border"
									style="font-size: 20px; color: black"></i> Link para <a
									href="https://git.serpro" target="_blank">Issues abertas no
									Git Serpro</a>:
							</p>
						</blockquote>
					</div>
				</div>
				<div class="card">
					<div class="card-header">
						<b>APLICAÇÃO NO GIT CORPORATIVO</b>
					</div>
					<div class="card-body">
						<blockquote class="blockquote mb-0">
							<p>
								<i class="fa fa-github fa-2x fa-pull-left fa-border"
									style="font-size: 20px; color: black"></i> Link para <a
									href="https://gitcorporativo.serpro" target="_blank">aplicação
									no GitCorporativo</a>:
							</p>
						</blockquote>
					</div>
				</div>
			</div>


			<div class="col">



				<!-- Quadro Casos de Testes -->
				<a id="anchor-casostestes"></a>
				<div class="jumbotron container-fluid">
					<div class="container-fluid">
						<h5 class="display-10">
							<b><i class="fa fa-wrench"></i> Casos de Testes Automatizados
								Implementados</b>
						</h5>
					</div>
					<hr>
					<p class="texto-corpo-pagina">
						<b>Importante:</b> Validar manualmente todos os itens listados
						abaixo como "não automatizados":
					</p>
					<p class="texto-corpo-pagina">
						<b>Conferência dos Anuentes:</b>
					</p>
					<div class="panel-group">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h6 class="panel-title">
									<a data-toggle="collapse" href="#collapse1"
										class="texto-corpo-pagina"> - HIS-Consulta de Conferências
										Distribuídas</a>
								</h6>
							</div>
							<div id="collapse1" class="panel-collapse collapse">
								<ul class="list-group">
									<li class="list-group-item">O que <b><font
											color='darkblue'>está</font></b> automatizado:
										<ul>
											<li>Sucesso ao consultar inspeções distribuídas como
												usuário Supervisor MAPA;</li>
										</ul>
									</li>
									<li class="list-group-item">O que <b><font
											color='darkred'>não está</font></b> automatizado:
										<ul>
											<li>Sucesso ao consultar inspeções distribuídas como
												usuário MAPA não Supervisor;</li>
											<li>Insucesso ao consultar inspeções distribuídas como
												usuário RFB (qualquer perfil);</li>
											<li>Recursos do botão filtrar;</li>
											<li>Conteúdo da tabela em dados paginados após da
												primeira página;</li>
											<li>Validar (ter certeza) "não exibição" de botões não
												definidos em regra de negócio no Menu Carrossel;</li>
											<li>Validar funcionamento do botão "Copiar" exibido na
												última coluna;</li>
											<li>Acionamento do link do "Número do RIF" (tela
												detalhes);</li>
											<li>Acionamento do link do "Número da Declaração" (tela
												detalhes);</li>
										</ul>
									</li>
									<li class="list-group-item">Dúvidas:
										<ul>
											<li>Todos os campos da tabela são obrigatórios (sempre
												possuem valores)?</li>
											<li>Em que condição é exibido o hint "BL" na coluna
												"Número de Identificação da Carga"?</li>
											<li>Quais os domínios de hints da coluna "Número de
												Identificação da Carga"?</li>
											<li>É normal o hint de "Recinto Aduaneiro" zerado na
												coluna "Número do RIF"?</li>
										</ul>
									</li>
									<li class="list-group-item">Oportunidades de Melhoria:
										<ul>
											<li>Requisitos: descrever tipos de dados dos campos das
												tabelas em regras de negócio;</li>
											<li>Requisitos: listar botões exibidos, assim como
												condições de exibição, no Menu Carrossel;</li>
											<li>Requisitos: Incluir personas na documentação de
												Requisitos;</li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<hr>

				</div>

				<!-- Quadro Requisitos -->
				<a id="anchor-requisitos"></a>
				<div class="jumbotron container-fluid">
					<div class="container-fluid">
						<h5 class="display-10">
							<b><i class="fa fa-wrench"></i> Documentação de Requisitos</b>
						</h5>
					</div>
					<hr>
					<p class="texto-corpo-pagina">Links para documentação de
						requisitos no ALM:</p>
					<ul class="texto-corpo-pagina">
						<li><a href="#">Conferência Aduaneira</a></li>
						<li><a href="#">Conferência dos Anuentes</a></li>
						<li><a href="#">Requisitos Não Funcionais</a></li>
					</ul>
					<hr>
				</div>

				<!-- Quadro Execução -->
				<a id="anchor-execucao"></a>
				<div class="jumbotron container-fluid">
					<div class="container-fluid">
						<h5 class="display-10">
							<b><i class="fa fa-wrench"></i> Execução</b>
						</h5>
					</div>
					<hr>
					<p class="texto-corpo-pagina">Comandos para execução do Allure
						Reports via Maven:</p>
					<ul class="texto-corpo-pagina">
						<li>Limpeza e download de dependências: <b>mvn clean
								install</b></li>
						<li>Limpeza e download de dependências baixando as
							dependências: <b>mvn -U clean install</b>
						</li>
						<li>Limpeza de dependências e execução de testes: <b>mvn
								clean test</b></li>
						<li>Maven install pulando testes: <b>mvn install
								-DskipTests=true</b></li>
						<li>Execução de testes para uma classe específica: <b>mvn
								test -Dtest=ConsultaRIFsDistribuidosTest.java</b></li>
						<li>Execução de testes para um método e classe específica
							(desde Surefire 2.8): <b>mvn test
								-Dtest=ConsultaRIFsDistribuidosTest.java</b>
						</li>
						<li>Gerar e configurar o Relatório Allure: <b>allure
								generate -c /allure-results</b>
						</li>
						<li>Limpar histórico de execuções no Allure: <b>allure
								generate --clean --output your-result-folder</b>
						</li>
						<li>Execução do servidor web Allure Reports: <b>mvn
								allure serve:report</b></li>
						<li>Execução do servidor web Allure Reports como localhost: <b>allure
								serve --host localhost --port 9999</b></li>
						<li>Execução do servidor web Allure Reports definido pasta de
							relatório: <b>allure serve target/allure-results --host
								localhost --port 9999</b>
						</li>
						<li>Execução de aplicação junto ao Docker: <b>docker run
								-d -p 8080:8080 pucomex/dejavu:1 /bin/bash</b></li>
						<li>Execução de aplicação junto ao Docker no modo interativo:
							<b>sudo docker run -it andre/dejavu:1</b>
						</li>
						<li>Parar todos os containers Docker: <b>docker stop -t0
								$(docker ps -q)</b></li>
					</ul>
					<hr>
				</div>

				<!-- Quadro Configuração -->
				<a id="anchor-configuracao"></a>
				<div class="jumbotron container-fluid">
					<div class="container-fluid">
						<h5 class="display-10">
							<b><i class="fa fa-wrench"></i> Configuração</b>
						</h5>
					</div>
					<hr>
					<p class="texto-corpo-pagina">Instalação do Allure Reports:</p>
					<ul class="texto-corpo-pagina">
						<li>sudo apt-get update -y</li>
						<li>sudo apt-get install -y allure</li>
						<li>curl -o allure-2.13.8.tgz -OLs
							https://repo.maven.apache.org/maven2/io/qameta/allure/allure-commandline/2.13.8/allure-commandline-2.13.8.tgz</li>
						<li>sudo tar -zxvf allure-2.13.8.tgz -C /opt/</li>
						<li>sudo ln -s /opt/allure-2.13.8/bin/allure /usr/bin/allure</li>
						<li>allure --version</li>
					</ul>
					<p class="texto-corpo-pagina">Criação de imagem Docker:</p>
					<ul class="texto-corpo-pagina">
						<li>docker build -f Dockerfile -t pucomex/dejavu:1 .</li>
					</ul>
					<p class="texto-corpo-pagina">
						Link de configuração do <a
							href="https://medium.com/@lucasoliveira_46106/10-passos-para-gerar-relat%C3%B3rios-de-teste-automatizado-com-allure-6c5bbbce9b2b"
							target="_blank">Allure Reports</a>
					</p>
					<p class="texto-corpo-pagina">
						Exemplo 1 de configuração do <a
							href="https://javabydeveloper.com/junit-5-with-allure-reports-example/"
							target="_blank">Allure Reports com JUnit 5</a>
					</p>
					<p class="texto-corpo-pagina">
						Exemplo 2 de configuração do <a
							href="https://www.swtestacademy.com/allure-report-testng/"
							target="_blank">Allure Reports</a>
					</p>
					<p class="texto-corpo-pagina">
						Anotações para projetos do <a
							href="https://www.seleniumeasy.com/selenium-tutorials/allure-report-example-with-annotations"
							target="_blank">Allure Reports</a>
					</p>
					<p class="texto-corpo-pagina">
						Site do <a
							href="https://docs.qameta.io/allure-report/frameworks/java/junit5"
							target="_blank">Allure Reports</a>
					</p>
					<p class="texto-corpo-pagina">
						Incluir a opção abaixo (caminho do
						POM/builds/plugins/plugin/configuration) para ignorar erros no
						build do projeto (permite gerar o jar idenpendente de erros): <br>
						&lt;testFailureIgnore&gt;true&lt;/testFailureIgnore&gt;
					</p>
					<hr>
				</div>


				<!-- Quadro Changelog -->
				<a id="anchor-changelog"></a>
				<div class="jumbotron container-fluid">
					<div class="container-fluid">
						<h5 class="display-10">
							<b><i class="fa fa-wrench"></i> Changelog</b>
						</h5>
					</div>
					<hr>
					<p class="texto-corpo-pagina">Lista contendo o registro de
						versionamento da aplicação (versões batizadas como robôs famosos)
						de testes automatizados (apoia na análise de redução de problemas
						em produção de acordo com o aumento de cobertura de testes em
						datas de implantação):</p>

					<div class="panel-group">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h6 class="panel-title">
									<a data-toggle="collapse" href="#collapseVersao1"
										class="texto-corpo-pagina"> - 01 - 02/2022 - Sentinela</a>
								</h6>
							</div>
							<div id="collapseVersao1" class="panel-collapse collapse">
								<ul class="list-group">
									<li class="list-group-item">
										<ul>
											<li>HIS-Consulta de Conferências Distribuídas</li>
										</ul>
									</li>
								</ul>
							</div>

							<div class="panel-heading">
								<h6 class="panel-title">
									<a data-toggle="collapse" href="#collapseVersao2"
										class="texto-corpo-pagina"> - 02 - Sem Planej. - Wall-e</a>
								</h6>
							</div>
							<div id="collapseVersao2" class="panel-collapse collapse">
								<ul class="list-group">
									<li class="list-group-item">
										<ul>
											<li>Item não planejado</li>
										</ul>
									</li>
								</ul>
							</div>

							<div class="panel-heading">
								<h6 class="panel-title">
									<a data-toggle="collapse" href="#collapseVersao3"
										class="texto-corpo-pagina"> - 03 - Sem Planej. - Sonny</a>
								</h6>
							</div>
							<div id="collapseVersao3" class="panel-collapse collapse">
								<ul class="list-group">
									<li class="list-group-item">
										<ul>
											<li>Item não planejado</li>
										</ul>
									</li>
								</ul>
							</div>

							<div class="panel-heading">
								<h6 class="panel-title">
									<a data-toggle="collapse" href="#collapseVersao4"
										class="texto-corpo-pagina"> - 04 - Sem Planej. - R2-D2</a>
								</h6>
							</div>
							<div id="collapseVersao4" class="panel-collapse collapse">
								<ul class="list-group">
									<li class="list-group-item">
										<ul>
											<li>Item não planejado</li>
										</ul>
									</li>
								</ul>
							</div>

							<div class="panel-heading">
								<h6 class="panel-title">
									<a data-toggle="collapse" href="#collapseVersao5"
										class="texto-corpo-pagina"> - 05 - Sem Planej. - Pris</a>
								</h6>
							</div>
							<div id="collapseVersao5" class="panel-collapse collapse">
								<ul class="list-group">
									<li class="list-group-item">
										<ul>
											<li>Item não planejado</li>
										</ul>
									</li>
								</ul>
							</div>

							<div class="panel-heading">
								<h6 class="panel-title">
									<a data-toggle="collapse" href="#collapseVersao6"
										class="texto-corpo-pagina"> - 06 - Sem Planej. - C-3PO</a>
								</h6>
							</div>
							<div id="collapseVersao6" class="panel-collapse collapse">
								<ul class="list-group">
									<li class="list-group-item">
										<ul>
											<li>Item não planejado</li>
										</ul>
									</li>
								</ul>
							</div>


							<div class="panel-heading">
								<h6 class="panel-title">
									<a data-toggle="collapse" href="#collapseVersao7"
										class="texto-corpo-pagina"> - 07 - Sem Planej. - Murphy</a>
								</h6>
							</div>
							<div id="collapseVersao7" class="panel-collapse collapse">
								<ul class="list-group">
									<li class="list-group-item">
										<ul>
											<li>Item não planejado</li>
										</ul>
									</li>
								</ul>
							</div>

							<div class="panel-heading">
								<h6 class="panel-title">
									<a data-toggle="collapse" href="#collapseVersao8"
										class="texto-corpo-pagina"> - 08 - Sem Planej. - BB-8</a>
								</h6>
							</div>
							<div id="collapseVersao8" class="panel-collapse collapse">
								<ul class="list-group">
									<li class="list-group-item">
										<ul>
											<li>Item não planejado</li>
										</ul>
									</li>
								</ul>
							</div>

							<div class="panel-heading">
								<h6 class="panel-title">
									<a data-toggle="collapse" href="#collapseVersao9"
										class="texto-corpo-pagina"> - 09 - Sem Planej. - Visão</a>
								</h6>
							</div>
							<div id="collapseVersao9" class="panel-collapse collapse">
								<ul class="list-group">
									<li class="list-group-item">
										<ul>
											<li>Item não planejado</li>
										</ul>
									</li>
								</ul>
							</div>

							<div class="panel-heading">
								<h6 class="panel-title">
									<a data-toggle="collapse" href="#collapseVersao10"
										class="texto-corpo-pagina"> - 10 - Sem Planej. - Marvin</a>
								</h6>
							</div>
							<div id="collapseVersao10" class="panel-collapse collapse">
								<ul class="list-group">
									<li class="list-group-item">
										<ul>
											<li>Item não planejado</li>
										</ul>
									</li>
								</ul>
							</div>

							<div class="panel-heading">
								<h6 class="panel-title">
									<a data-toggle="collapse" href="#collapseVersao11"
										class="texto-corpo-pagina"> - 11 - Sem Planej. - T-800</a>
								</h6>
							</div>
							<div id="collapseVersao11" class="panel-collapse collapse">
								<ul class="list-group">
									<li class="list-group-item">
										<ul>
											<li>Item não planejado</li>
										</ul>
									</li>
								</ul>
							</div>

							<div class="panel-heading">
								<h6 class="panel-title">
									<a data-toggle="collapse" href="#collapseVersao12"
										class="texto-corpo-pagina"> - 12 - Sem Planej. - Optimus
										Prime</a>
								</h6>
							</div>
							<div id="collapseVersao12" class="panel-collapse collapse">
								<ul class="list-group">
									<li class="list-group-item">
										<ul>
											<li>Item não planejado</li>
										</ul>
									</li>
								</ul>
							</div>

							<div class="panel-heading">
								<h6 class="panel-title">
									<a data-toggle="collapse" href="#collapseVersao13"
										class="texto-corpo-pagina"> - 13 - Sem Planej. - David</a>
								</h6>
							</div>
							<div id="collapseVersao13" class="panel-collapse collapse">
								<ul class="list-group">
									<li class="list-group-item">
										<ul>
											<li>Item não planejado</li>
										</ul>
									</li>
								</ul>
							</div>

							<div class="panel-heading">
								<h6 class="panel-title">
									<a data-toggle="collapse" href="#collapseVersao14"
										class="texto-corpo-pagina"> - 14 - Sem Planej. - Ultron</a>
								</h6>
							</div>
							<div id="collapseVersao14" class="panel-collapse collapse">
								<ul class="list-group">
									<li class="list-group-item">
										<ul>
											<li>Item não planejado</li>
										</ul>
									</li>
								</ul>
							</div>

							<div class="panel-heading">
								<h6 class="panel-title">
									<a data-toggle="collapse" href="#collapseVersao15"
										class="texto-corpo-pagina"> - 15 - Sem Planej. - Andrew
										Martin</a>
								</h6>
							</div>
							<div id="collapseVersao15" class="panel-collapse collapse">
								<ul class="list-group">
									<li class="list-group-item">
										<ul>
											<li>Item não planejado</li>
										</ul>
									</li>
								</ul>
							</div>

							<div class="panel-heading">
								<h6 class="panel-title">
									<a data-toggle="collapse" href="#collapseVersao16"
										class="texto-corpo-pagina"> - 16 - Sem Planej. - Rosie</a>
								</h6>
							</div>
							<div id="collapseVersao16" class="panel-collapse collapse">
								<ul class="list-group">
									<li class="list-group-item">
										<ul>
											<li>Item não planejado</li>
										</ul>
									</li>
								</ul>
							</div>

							<div class="panel-heading">
								<h6 class="panel-title">
									<a data-toggle="collapse" href="#collapseVersao17"
										class="texto-corpo-pagina"> - 17 - Sem Planej. - Eva</a>
								</h6>
							</div>
							<div id="collapseVersao17" class="panel-collapse collapse">
								<ul class="list-group">
									<li class="list-group-item">
										<ul>
											<li>Item não planejado</li>
										</ul>
									</li>
								</ul>
							</div>

							<div class="panel-heading">
								<h6 class="panel-title">
									<a data-toggle="collapse" href="#collapseVersao18"
										class="texto-corpo-pagina"> - 18 - Sem Planej. - Jarvis</a>
								</h6>
							</div>
							<div id="collapseVersao18" class="panel-collapse collapse">
								<ul class="list-group">
									<li class="list-group-item">
										<ul>
											<li>Item não planejado</li>
										</ul>
									</li>
								</ul>
							</div>

							<div class="panel-heading">
								<h6 class="panel-title">
									<a data-toggle="collapse" href="#collapseVersao19"
										class="texto-corpo-pagina"> - 19 - Sem Planej. - Rick
										Deckard</a>
								</h6>
							</div>
							<div id="collapseVersao19" class="panel-collapse collapse">
								<ul class="list-group">
									<li class="list-group-item">
										<ul>
											<li>Item não planejado</li>
										</ul>
									</li>
								</ul>
							</div>

							<div class="panel-heading">
								<h6 class="panel-title">
									<a data-toggle="collapse" href="#collapseVersao20"
										class="texto-corpo-pagina"> - 20 - Sem Planej. - Dolores</a>
								</h6>
							</div>
							<div id="collapseVersao20" class="panel-collapse collapse">
								<ul class="list-group">
									<li class="list-group-item">
										<ul>
											<li>Item não planejado</li>
										</ul>
									</li>
								</ul>
							</div>

						</div>
					</div>



					<hr>

				</div>

				<!-- 				<h1>
					Olá <span th:text="${nomeDoAtributo}"></span>
				</h1>
				 -->

			</div>
		</div>
		<!-- <div ng-include="'view/footer.html'"></div> -->
	</div>

</body>
</html>